$primary: #00205B;
// $secondary: #A23B72;

// サイト内検索の結果表示の幅
.td-offline-search-results {
    min-width: 30%;
}

// KaTeX
.katex {
    // 数式や化学式のサイズを強制的に変更
    font: normal 1.4em KaTeX_Main, Times New Roman, serif !important;
    // 画面幅に収まらない数式や化学式はスクロールバーで表示する
    overflow-x: auto;
    overflow-y: hidden;
}

// 数式や化学式を表示する際の中心位置を他の要素と合わせる
.td-content > .math, .chem {
    max-width: 80%;
}

// URLやリンクテキストを改行させる
a {
    word-break: break-all;
}